.time_number_content {
	width: 25%;
	height: 120px;
	max-width: 100px;
	display: grid;
	grid-template-rows: 70% 30%;
	border-radius: 5px;
	overflow: hidden;
}

.time_number {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff3;
}

.time_number_text {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0004;
	color: #fff;
}
