* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(60, 105, 254);
}

.content-all {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
